body {
    background-color: #F4F4F4;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    color: #333333;
    margin-top: 0;
    margin-bottom: 20px;
}

#pergunta {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-top: 0;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333333;
}

input[type="number"] {
    font-size: 18px;
    padding: 10px;
    border: 2px solid #333333;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
}

button {
    background-color: #FF6600;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #FF4D00;
}

#resultado {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333333;
}

#reiniciar {
    display: none;
    background-color: #0099FF;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-top: 20px;
}

#reiniciar:hover {
    background-color: #0080FF;
}

.verde {
    color: #009933;
}

.vermelho {
    color: #CC0000;
}

.laranja {
    color: #FF6600;
}